@import "tailwindcss";

@theme {
  --color-surface: #111118;
  --color-surface-hover: #14141e;
  --color-sidebar: #0D0D16;
  --color-base: #09090F;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1e1e2e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d2d3d;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
